{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'home' %}">Home <span role="img" aria-label="Home">🏠</span></a>
            <a href="{% url 'posts:posts' %}">Posts <span role="img" aria-label="Posts">📝</span></a>
            <a href="{% url 'about' %}">About <span role="img" aria-label="About">ℹ️</span></a>
        </nav>
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
